services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: [ "CMD-SHELL", "echo ruok | nc -w 2 zookeeper 2181" ]
      interval: 20s
      timeout: 10s
      retries: 10

  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    restart: on-failure
    ports:
      - "9092:9092"
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    healthcheck:
      test: [ "CMD-SHELL", "kafka-topics --bootstrap-server broker:29092 --list" ]
      interval: 20s
      timeout: 10s
      retries: 10

  postgres:
    image: postgres:14-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: traffic_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d traffic_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5

  ingestion-service:
    build: ./ingestion-service
    ports:
      - "8080:8080"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/traffic_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    depends_on:
      broker:
        condition: service_healthy
      postgres:
        condition: service_healthy

  traffic-analysis-service:
    build: ./traffic-analysis-service
    ports:
      - "8082-8087:8082"
    environment:
      KAFKA_BROKER: broker:29092
      IMAGE_BASE_URL: https://api.notis.vn/v4/
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: traffic-analyzed-images
    depends_on:
      broker:
        condition: service_healthy
      minio:
        condition: service_healthy
    deploy:
      replicas: 2
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    cpus: '2'
    mem_limit: 4G
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"       
        mode: "non-blocking" 
        max-buffer-size: "4m"

  dashboard-service:
    build: ./dashboard-service
    ports:
      - "6677:6677"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: broker:29092
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/traffic_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      APP_SIMULATE: "false"
      MINIO_ENDPOINT: http://minio:9000
      MINIO_PUBLIC_ENDPOINT: http://localhost:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: documents
      IMAGE_BACKEND_HOST: host.docker.internal

    extra_hosts:
        - "host.docker.internal:host-gateway"
    depends_on:
      broker:
        condition: service_healthy
      postgres:
        condition: service_healthy

  # image-retrieval-service:
  #   build: ./image-retrieval-service
  #   ports:
  #     - "1810:1810"
  #   environment:
  #     MINIO_ENDPOINT: http://minio:9000
  #     MINIO_PUBLIC_ENDPOINT: http://localhost:9000
  #     MINIO_ACCESS_KEY: minioadmin
  #     MINIO_SECRET_KEY: minioadmin
  #     MINIO_BUCKET_NAME: traffic-analyzed-images
  #     SERVER_PORT: 1810
  #   depends_on:
  #     minio:
  #       condition: service_healthy

volumes:
  postgres_data:
  minio_data:
